In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense , Dropout

In [ ]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [ ]:
X = data.iloc[: , 3:13]
y = data.iloc[: , 13]

In [ ]:
X

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [ ]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [ ]:
geography = pd.get_dummies(X['Geography'] , drop_first=True)
gender = pd.get_dummies(X['Gender'] , drop_first=True)

In [ ]:
X = pd.concat([X , geography, gender ] , axis = 1)

In [ ]:
X

      CreditScore Geography  Gender  Age  ...  EstimatedSalary  Germany  Spain  Male
0             619    France  Female   42  ...        101348.88        0      0     0
1             608     Spain  Female   41  ...        112542.58        0      1     0
2             502    France  Female   42  ...        113931.57        0      0     0
3             699    France  Female   39  ...         93826.63        0      0     0
4             850     Spain  Female   43  ...         79084.10        0      1     0
...           ...       ...     ...  ...  ...              ...      ...    ...   ...
9995          771    France    Male   39  ...         96270.64        0      0     1
9996          516    France    Male   35  ...        101699.77        0      0     1
9997          709    France  Female   36  ...         42085.58        0      0     0
9998          772   Germany    Male   42  ...         92888.52        1      0     1
9999          792    France  Female   28  ...         38190.78        0      0     0

[10000 rows x 13 columns]

In [ ]:
X = X.drop(columns = ['Geography' , 'Gender'] , axis = 1)

In [ ]:
X

      CreditScore  Age  Tenure  ...  Germany  Spain  Male
0             619   42       2  ...        0      0     0
1             608   41       1  ...        0      1     0
2             502   42       8  ...        0      0     0
3             699   39       1  ...        0      0     0
4             850   43       2  ...        0      1     0
...           ...  ...     ...  ...      ...    ...   ...
9995          771   39       5  ...        0      0     1
9996          516   35      10  ...        0      0     1
9997          709   36       7  ...        0      0     0
9998          772   42       3  ...        1      0     1
9999          792   28       4  ...        0      0     0

[10000 rows x 11 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2 , random_state = 101)

In [ ]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train.shape

(8000, 11)

In [ ]:
model = Sequential()

model.add(Dense(200, activation='relu' , kernel_initializer='he_uniform')) # hidden layer 1
model.add(Dropout(0.2))

model.add(Dense(50 , activation='sigmoid')) # hidden layer 2
model.add(Dropout(0.5))

model.add(Dense(25 , activation='relu' , kernel_initializer='he_normal')) # hidden layer 3

model.add(Dense(1 , activation='sigmoid')) # output layer

In [ ]:
model.compile(optimizer='SGD' , loss = 'binary_crossentropy' , metrics=['accuracy'])

In [ ]:
model.fit(X_train , y_train , epochs = 10 , batch_size=32)

Epoch 1/10
250/250 [==============================] - 4s 2ms/step - loss: 0.5261 - accuracy: 0.7889
Epoch 2/10
250/250 [==============================] - 0s 2ms/step - loss: 0.5046 - accuracy: 0.7969
Epoch 3/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4918 - accuracy: 0.7983
Epoch 4/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4775 - accuracy: 0.7989
Epoch 5/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4739 - accuracy: 0.7991
Epoch 6/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4690 - accuracy: 0.8035
Epoch 7/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4640 - accuracy: 0.8025
Epoch 8/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4583 - accuracy: 0.8027
Epoch 9/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4588 - accuracy: 0.8035
Epoch 10/10
250/250 [==============================] - 0s 2ms/step - loss: 0.4572 - accuracy: 0.8039

In [ ]:
model.evaluate(X_test , y_test )

63/63 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.8030

[0.4323135316371918, 0.8029999732971191]

In [ ]:
import joblib
joblib.dump(sc , 'feature_sacling.pkl')
model.save('20_aug_82.h5')

In [ ]:
from keras.models import load_model
model_load = load_model('20_aug_82.h5')

In [ ]:
model_load.predict(X_test)

array([[0.09143087],
       [0.02774815],
       [0.29189876],
       ...,
       [0.18185204],
       [0.05213204],
       [0.4676019 ]], dtype=float32)

In [ ]:
y_pred = model_load.predict(X_test) > 0.5

In [ ]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [ ]:
a = 10
b = 10
c = 1000
d = 10
e = 10
f = 10
g = 1000
h = 10
i = 10
j = 1000
k = 10

# scaling = joblib.load('feature_sacling.pkl')

data = scaling.transform([[a,b,c,d,e,f,g,h,i,j,k]])

print(data)

output = model_load.predict(data) > 0.5

if output[0][0] == True:
  print('he\she will leave')
else:
  print('he/she will stay')

[[-6.63822406e+00 -2.74296341e+00  3.42749985e+02 -1.23334973e+00
   1.45786704e+01  2.04043525e+01  1.99945124e+03 -1.73806172e+00
   2.25654364e+01  2.32055176e+03  1.89868748e+01]]
he/she will stay